*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#F5D1A9;
    --secondary-color:var(--secondary-color);
    --background-color:#A88863;
    --title-color:#362E25;
    --checked-color:#B5F5E5;
    --unchecked-color:#85A8A0;
}

/* 

width > 350 estamos barbaro (=

*/

@font-face {
    font-family: cherrybomb;
    src: url(/fonts/CherryBomb-Regular.ttf);
}

body{
    margin-left:auto;
    margin-right:auto;
    max-width: fit-content;
    background-color: var(--background-color);
    /* background-image: url(/img/asdf.jpg); */
    
    background-size: 75vw auto;
    background-repeat: no-repeat;
    background-position: center 0;
}

main{
    margin: 5vw;
    /* background-image: url(/img/background.jpg); */
    background-repeat: no-repeat bottom;
    background-size: 100%;
}

header{
    margin: 5vh 10vw;
    display:flex;
    justify-content: space-between;

}

.header__main{
    display: flex;
    align-items:center;
}

.header__main-icon{
    position: relative;
}

.header__main-title{    
    color: var(--primary-color);
    font-family: cherrybomb;
    font-weight: 400;
    opacity: 0.8;
}

.contact{
    color: rgb(202, 202, 202);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-intro{
    background-color: var(--primary-color);
    box-shadow: 8px 5px 5px #181212;
    opacity: 0.85;
    border-radius: 7px;
    height: auto;
    margin: 5vh 0px;
    padding: 7px 3vw;
    font-family: caveat;
    font-weight: bold;
}

.container{
    margin: 4vh 5vw;
    text-align: center;
}

.section-main{
    margin-bottom: 35px;
    padding: 3vh 4vw;
    background-color: var(--primary-color);
    box-shadow: 8px 5px 5px #181212;
    opacity: 0.85;
    border-radius: 7px;
}

.section-main__title{
    /* color:rgb(243, 135, 33); */
    color: var(--title-color);
    font-weight: bold;
    font-family: caveat;
    font-size: 2rem;
}

.section-main__description{
    padding: 10px;
    font-weight: bold;
    font-family: caveat;
    font-size: large;
}

.section-main__content-properties{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-areas: 
        "col1 col2 col3 col4"
        ".  button . ."
    ;
    justify-content: center;
}

.section-main__content-random{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-areas: 
        "col1 col2 col3"
        ".  button ."
    ;
    justify-content: center;
}

#random-btn{
    grid-area: 2/2;
}

.column{
    display: grid;
    align-items:center;
}

.section-main__content .column-left{
    padding-top: 3vh;
    grid-area: col1;
}

.section-main__content .column-right{
    padding-top: 3vh;
    grid-area: col2;
}

.section-main__content .column-right2{
    padding-top: 3vh;
    grid-area: col3;
}

.section-main__content .column-tags{
    display: grid;
    grid-template-rows: repeat(8, minmax(30px,1fr));
    height: auto;
    padding: 0 4vw 0 4vw;
}

.section-main__content .prop-tags{
    grid-area: col4;
}

form ul li{
    display: inline-block;
    background-color: var(--checked-color);
    border-radius: 7px;
    cursor: pointer;
    border-right: 3px solid black;
}

form ul li:hover{
    background-color: red;
}

form ul{
    list-style: none;
}

/* .random-tags{
    display: grid;
    grid-template-rows: repeat(8, minmax(30px,1fr));
    height: 300px;
    padding: 0 4vw 0 4vw;
} */

.section-main__content input {
    margin-bottom: 2vh;
    min-width: 45px;
    width: 3vw;
}

/* TAGS */


/* FORMS */

 .form__label {
    min-width: 74px;
    font-size: 0.80em;
    color: #333;
    font-weight: bold;
    float: left;
    margin-left: 0;
    overflow: hidden; 
    white-space: nowrap;
} 
  
.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 800;
    font-size: 0.55rem;
    margin: 0 auto;
    padding: 0.25rem 0.75rem;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: #85A8A0;
}

.column-tags input + label {
    cursor: pointer;
    background-color: var(--unchecked-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 3px 5px 2px;
    opacity: 0.85;
    border-radius: 2px;
}
  
.column-tags input:checked + label {
    background-color: var(--checked-color);
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* RECIPE */

.recipe{
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.recipe__title{
    text-align: center;
    color: var(--primary-color);
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

.recipe__description{
    font-family: caveat;
}

/* button */

.section-main button{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 1.2vw;
    margin-right: 1vw;
    
    grid-area: button  2 / 2 / 3 / 4;

    background: #362E25;
    border: 2px solid #272727;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.section-main button:hover,
.section-main button:active {
    background-color: initial;
    background-position: 0 0;
    color: #a0a0a0;
}

.section-main button:active {
    opacity: .5;
}
